{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

<div ng-app="cartoHal">

        <script type="text/javascript">

         var ConfigWidgetHal={
            ApiURL:"{{ApiUrl}}",
            DisplayMap:{{DisplayMap}},
            DisplayDatatable:{{DisplayTable}},
	    DocumentType:"{{document_types}}",
            query:"{{CollectionName}}"
          }
        </script>       
    <search></search>
</div>

